apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: silver-guardian-apps
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: "https://github.com/vanillaturtlechips/silver-guardian.git"
        revision: main
        directories:
          - path: "apps/*"
  template:
    metadata:
      name: '{{path.basename}}'
      labels:
        project: silver-guardian
    spec:
      project: default
      source:
        repoURL: "https://github.com/vanillaturtlechips/silver-guardian.git"
        targetRevision: main
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - Validate=false
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m