apiVersion: apps/v1
kind: Deployment
metadata:
  name: silver-guardian-backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 009946608368.dkr.ecr.ap-northeast-2.amazonaws.com/silver-guardian-backend:d0e3bda255eb0720717b316afa37c36a74eb35be
