apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
spec:
  rules:
    - host: api.silver-guardian.site
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: silver-guardian-backend
                port:
                  number: 50051