apiVersion: v1
kind: Service
metadata:
  name: silver-guardian-backend
  namespace: silver-guardian
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: grpc-web
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: grpc
      protocol: TCP
      port: 50051
      targetPort: 50051